body{
	background: #CDDDDD;

}
.wrapper input[type="text"],
.wrapper input[type="email"],
textarea{
	width: 95%;
	margin-bottom: 15px;
	max-width: 280px;
	display: flex;

}
.wrapper a{
	text-decoration-color: none;
	background: 415A77;
	color: #fff;
	display: block;
	padding: 10px 0;
	text-align: center;
	font-size: 15px;
	border: solid 1px blue;
	background: #031D44;
	max-width: 280px;
	width: 89%;
}
iframe{
	max-width: 280px;
	width: 100;
	
}
@media screen (min-width: 280px){
	iframe{
		width: 100%;
}
}

